@font-face {
    font-family: opensans-regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: opensans-extrabold;
    src: url(fonts/OpenSans-ExtraBold.ttf);
}

.main-sidebar {
    color: white;
    min-width: 500px;
    width: 40%;
    height: 100vh;
    background-color: black;
    opacity: 0.25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    left: 0;
    padding: 50px;
}

.main-sidebar article header h1 {
    font-family: opensans-extrabold, sans-serif;
    font-size: 60pt;
}

.main-sidebar article section span {
    font-family: opensans-bold, sans-serif;
    font-size: 14pt;
}

.main-sidebar article section img {
    display: inline-block;
    margin-left: 15px;
}

.main-sidebar section {
    font-family: opensans-regular, sans-serif;
    font-size: 10pt;
}
